<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Sakura Memory</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<!-- 🌸 деревья -->
<div id="treeRow">
    <img src="/static/tree1.png">
    <img src="/static/tree2.png">
    <img src="/static/tree3.png">
    <img src="/static/tree4.png">
</div>

<!-- 🌙 стартовый экран -->
<div id="startScreen">
    <button id="moonButton">🌙 нажми</button>
</div>

<!-- 🌸 canvas (сакура) -->
<canvas id="sakuraCanvas"></canvas>

<!-- 🖼 фото -->
<div id="photosContainer"></div>

<!-- 💬 текст -->
<div id="textContainer"></div>

<!-- 🎵 музыка -->
<audio id="music" src="/static/music.mp3"></audio>

<script src="/static/script.js"></script>

</body>
</html>